<nav class="navbar navbar-light " style="background-color: #00203FFF; border-radius: 0;  padding: 20px 50px; box-shadow: rgba(0, 0, 0, 0.4) 0px 1px 20px">
  <span class="navbar-brand" style=" font-size:20px;color: white;">BUGZILLA</span>
<div style="float: right;display:inline-block;width:23%; ">
  <%= link_to "Edit Account", edit_user_registration_path ,
  {:style=>'color:white; font-size:15px; width:45%; margin-top: 5px; padding: 10px; color: white; display:inline-block;',
   :class => "btn btn-lg btn-success"}%>

  <%= link_to "Sign out", destroy_user_session_path ,
  {:method => :delete, :style=>'color:white; font-size:15px; width:45%; margin-top: 5px; padding: 10px; color: white; display:inline-block;',
   :class => "btn btn-lg btn-danger"}%>
</div>
</nav>
