  <nav class="navbar navbar-light " style="background-color: #00203FFF; border-radius: 0;  padding: 20px 50px; box-shadow: rgba(0, 0, 0, 0.4) 0px 1px 20px">
    <span class="navbar-brand" style=" font-size:20px;color: white;">BUGZILLA</span>
  </nav>
