<%= render "shared/navigationbar" %>

<body style="background-color: #00203FFF;">
  <section class="container mx-auto">
    <div class="row">
          <%= render :partial => 'shared/bugform', :locals => { :formtitle => "Edit Bug", :project => @project , :bug => @bug, :buttontext => "Edit Bug"  } %>
    </div>
  </section>
</body>
